<?php
	if(!isset($_SESSION)){
	session_start();
	}
?>
<div id="cabecera">
    <h1>Ticketbest</h1>
    <?php
    if (isset($_SESSION["login"]) && ($_SESSION["login"]===true) && isset($_SESSION['usuario']) != null){
	   if(isset($_SESSION['usuario'])) {
            echo '<div class="saludo">';
            echo  $_SESSION['usuario'];
            echo '  <a href="../controllers/logout.php">: Logout</a></div>';
        }
    }
    else{
        echo '<div class="saludo">Usuario desconocido: <a href="contenedor.php?$opcion=login">Login</a></div>';
    }
    ?>
</div>